<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<title>Preguntas</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
<body>
	<header>
		<h2>Quiz: El juego de las preguntas</h2>
	</header>

	<nav>
		<ul>
			<li><a href="/">Inicio</a></li>
			<li><a href="/quizes">Preguntas</a></li>
			<li><a href="/author">Créditos</a></li>
		</ul>
	</nav>

	<section>
		<% if(errors.length) {%>
			<span id='ErrorMsgs'>
				Corregir errores: <br>
				<% for(var i in errors) {%>
					<span><%= errors[i].message %></span><br>
				<% } %>
			</span>
		<% } %>
		<%- body %>
	</section>

	<footer>
		<a href="https://es.wikipedia.org/wiki/Quiz">¿Qué es un quiz?</a>
		<a href="https://github.com/lmendoza92/quiz">GitHub</a>
	</footer>
</body>
</html>