<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<title>Preguntas</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
<body>
	<header>
		<h2>Quiz: El juego de las preguntas</h2>
	</header>

	<nav>
		<ul>
			<li><a href="/">Inicio</a></li>
			<li><a href="/quizes/question">Preguntas</a></li>
		</ul>
	</nav>

	<section>
		<%- body %>
	</section>

	<footer>
		<a href="https://es.wikipedia.org/wiki/Quiz">¿Qué es un quiz?</a>
	</footer>
</body>
</html>