<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
	<h2>Quiz: El juego de las preguntas</h2>
	
	<%= respuesta %>
	<a href="/quizes/question">Intentelo otra vez</a>
</body>
</html>